.bannerContainer {
  display: flex;
  width: 100%;
  position: relative;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.titleBannerContainer {
  display: flex;
  width: 100%;
  position: absolute;
  padding: var(--container-padding);
  bottom: var(--container-padding);
  background: var(--background-alpha);
  backdrop-filter: blur(0.1875rem); /* 3px */
}

.titleBanner {
  font-size: var(--h2);
  font-weight: var(--font-bold);
  padding: 0;
  margin: 0;
  color: var(--color-white);
}

.title {
  font-size: var(--h1);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.image {
  width: 100%;
  height: 45rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.date {
  margin-bottom: 2rem;
  font-style: italic;
  display: block;
  font-size: var(--text-lg);
}

.markdown {
  margin-bottom: 4rem;
}

.markdown p {
  margin-bottom: 2rem;
  font-size: var(--text-sm);
}

.markdown h2,
.markdown h2 code {
  font-size: var(--h2);
  font-weight: var(--font-semibold);
  margin-bottom: 2rem;
}

.markdown h3,
.markdown h3 code {
  font-size: var(--h3);
  font-weight: var(--font-semibold);
  margin-bottom: 2rem;
}

.markdown h4,
.markdown h4 code {
  font-size: var(--h4);
  font-weight: var(--font-semibold);
  margin-bottom: 2rem;
}

.markdown li {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-size: var(--text-sm);
  font-family: var(--font-primary);
}

.markdown ul {
  margin-bottom: 2rem;
}

.markdown ul li {
  list-style: none;
}

.markdown ul li ul {
  padding-left: 2rem;
}

.markdown ul li ul li {
  list-style: none;
}

.markdown ol {
  margin-bottom: 2rem;
}

.markdown li:has(img),
.markdown p:has(img),
.markdown:has(img) {
  display: grid;
}

.markdown img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 2rem 0;
  display: block;
  text-align: center;
  justify-self: center;
}

.markdown pre {
  background-color: var(--color-grey-200);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: auto;
  margin-bottom: 2rem;
}

.markdown code {
  font-family: var(--font-primary);
  font-size: var(--text-xs);
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown pre code {
  background-color: transparent;
  padding: 0;
  display: block;
  line-height: 1.5;
  color: #24292e;
}
