.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-auto-rows: 16rem;
  grid-auto-flow: dense;
  gap: 0.75rem;
  margin: 4rem 0 8rem;
}

.figure {
  container: inline-size;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  cursor: pointer;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  grid-area: 1 / 1 / -1 / -1;
  transition: scale 0.5s ease-in-out;
  cursor: pointer;
}

.figure:hover .image {
  scale: 1.125;
}

.caption {
  grid-area: 1 / 1 / -1 / -1;
  align-self: end;
  z-index: 1;
  padding: 1rem;
  color: var(--color-white);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  display: none;
}

.title {
  font-size: var(--text-sm);
  font-weight: 800;
  margin-bottom: 0;
}

.description {
  font-size: var(--text-xs);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (width > 639px) {
  .figure:nth-child(1) {
    grid-area: span 2 / span 2;
    .caption {
      display: block;
    }
  }

  .figure:nth-child(4n + 1) {
    grid-row: span 2;
  }

  .figure:nth-child(4n + 2) {
    grid-column: span 2;
    .caption {
      display: block;
    }
  }
}
