.home {
  grid-column: main;
  padding: 1.25rem;
}

.title {
  font-size: var(--h3);
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 0;
}

.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  gap: 64px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }
}
