.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-modal);
  padding: 2rem;
}

@keyframes breathe {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fill {
  0% {
    background: transparent;
  }
  100% {
    background: var(--color-white);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-white);
  animation: fill 1s ease-in-out infinite alternate;
  z-index: 1;
}

.modal {
  position: relative;
  max-width: 90vw;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--background);
  overflow: hidden;
  padding: 1.25rem;
  transition:
    width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}

.opening {
  background-color: var(--color-black);
}

.opened {
  background-color: var(--color-white);
}

.closeButton {
  position: absolute;
  color: var(--color-white);
  right: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  background-color: #0000003f;
  z-index: var(--z-index-modal);
  width: 4rem;
  height: 4rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4rem;
  color: var(--color-white);
}

.title {
  font-size: var(--text-lg);
  margin-bottom: 0.5rem;
}

.description {
  font-size: var(--text-sm);
  opacity: 0.9;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  font-size: 3rem;
  width: 4rem;
  height: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  z-index: var(--z-index-modal);
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.navButton:hover {
  opacity: 0.3;
}

.prevButton {
  left: 1.25rem;
  border-radius: 0;
}

.nextButton {
  right: 1.3rem;
  border-radius: 0;
}
