/* Base Styles */
body {
  font-family: var(--font-geist-sans);
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  line-height: var(--leading-normal);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  transform-style: flat;
  background:
    linear-gradient(90deg, var(--color-grey-400) 1px, transparent 0px var(--grid-gap)) 50% 50% /
      var(--grid-gap) var(--grid-gap),
    linear-gradient(var(--color-grey-400) 0px, transparent 1px var(--grid-gap)) 50% 50% /
      var(--grid-gap) var(--grid-gap);

  mask: linear-gradient(324deg, transparent 60%, var(--color-grey-400) 100%);
}

/* Default text styles */
p {
  margin-bottom: 0.5rem;
  font-family: var(--font-primary);
}

/* Default heading styles */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
  margin-bottom: 1rem;
}

/* Code blocks and pre */
code,
pre,
li {
  font-family: var(--font-secondary);
  font-size: var(--text-sm);
}

/* Selection styles */
::selection {
  background-color: var(--color-navy);
  color: var(--color-white);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.hide {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
  display: block;
}

.pointer {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-black: #000000;
    --color-navy: #14213d;
    --color-orange: #fca311;
    --color-light: #e5e5e5;
    --color-white: #ffffff;
  }

  body {
    color: var(--color-white);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
