.navbar {
  width: 100%;
  height: 8rem;
  background-color: transparent;
  font-family: var(--font-primary);
  font-size: var(--text-xs);
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-navbar);
}

.navbar a {
  margin-right: 1rem;
}

@media (max-width: 769px) {
  .navbar {
    justify-content: center;
    position: relative;
  }
}
