.container {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 4rem;
}

.content {
  flex: 1;
}

.content h2 {
  margin-bottom: 0.5rem;
}

.link {
  text-decoration: none;
  transition: color 0.3s ease;
  align-self: flex-end;
}

.link:hover {
  color: var(--color-navy);
}
